.sidebar {
    float: left;
    width: 220px;
    -webkit-transition: margin-top 1s;
    -moz-transition: margin-top 1s;
    -ms-transition: margin-top 1s;
    -o-transition: margin-top 1s;
    transition: margin-top 1s;
}

.sidebar.hide {
    margin-top: -1000px;
    z-index: 0
}

.sidebar-nav {
    background-color: white;
    margin-top: 3px;
    padding: 10px 45px 60px 45px;
    list-style: none;
    -webkit-box-shadow: 0 0 30px 33px rgba(245, 245, 245, 0.5);
    -moz-box-shadow: 0 0 30px 33px rgba(245, 245, 245, 0.5);
    box-shadow: 0 0 30px 33px rgba(245, 245, 245, 0.5);
}

.sidebar-nav li {
    flex-direction: row;
    line-height: 40px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li a {
    display: flex;
    text-decoration: none;
    padding: 10px 0 10px 0;
    cursor: pointer;
    color: #94979b;
    font-size: 16px;
    letter-spacing: 0.3px;
}

.sidebar-nav li a.active {
    color: #1fa0cb;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #1fa0cb;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

@media (max-width: 769px) {
    .sidebar {
        position: absolute;
    }

    .sidebar .sidebar-nav {
        box-shadow: unset;
    }
}

/*@media (max-width: 576px) {*/
/*.sidebar {*/
/*width: 160px;*/
/*}*/
/*.sidebar .sidebar-nav {*/
/*padding-left: 12px;*/
/*}*/
/*.sidebar-nav li div {*/
/*font-size: 11px;*/
/*}*/
/*}*/

