::placeholder {
    color: #94979b;
    font-size: 16px;
}

.navbar {
    -webkit-box-shadow: 0 1px 0 4px rgba(245, 245, 245, 0.42);
    -moz-box-shadow: 0 1px 0 4px rgba(245, 245, 245, 0.42);
    box-shadow: 0 1px 0 4px rgba(245, 245, 245, 0.42);
    padding: 12px 0 12px 0;
}

.navbar .menu-btn {
    height: 12px;
    width: 24px;
    fill: #94979b
}

.navbar .d-inline-flex {
    padding-left: 45px
}

.navbar .menu {
    margin-left: 65px;
}

.navbar .header-logo {
    background: url(../../img/logo.jpg);
    background-size: cover;
    width: 70px;
    height: 40px;
}

.navbar .material-icons {
    font-size: 22px;
}

.navbar .search {
    border: none;
    outline: none
}

.navbar .dropdown {
    margin-left: 20px;
    display: inherit;
}

.navbar .profile-pic {
    background: url(../../img/profile.jpg);
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 30px
}

.navbar .dropdown-menu {
    left: unset;
    right: 0;
}

.navbar .dropdown-menu .dropdown-item:active {
    color: unset;
    background-color: unset;
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: #1fa0cb;
}

.navbar .btn.dropdown-toggle {
    box-shadow: none;
}

.navbar .btn.dropdown-toggle span {
    padding-right: 5px;
    font-size: 17px;
}