@import './assets/styles/index.css';

body {
    background-color: #f6f9fc !important;
    max-width: 1500px !important;
    margin: 0 auto !important;
    color: #94979b;
    font-family: sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    margin: 0 35px 0 35px;
}

.material-icons {
    line-height: unset;
    font-size: 20px;
    margin-right: 12px;
}

